body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

div {
  position: absolute;
  left: 80px;
  top: 80px;
  width: 300px;
  border: 20px solid green;
  padding: 50px;
  margin: 20px;
}