body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

div {
  position: absolute;
  right: 0px;
  top: 80px;
  width: 50%;
  border: 10px solid black;
  background-color: blue;
  padding: 50px;
  margin: 20px;
}