body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  color: navy;
  margin-left: 20px;
}

div {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  background-color: black;
  padding: 0px;
  margin: 0px;
}

/* LINKS */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}